html {
  background-color: black;
}
h1 {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
  color: whitesmoke;
  text-align: center;
  margin-top: 100px;
  margin-left: 40px;
  background-color: black;
  text-transform: uppercase;
}

h2 {
  color: white;
  text-align: center;
  background-color: black;
  text-transform: capitalize;
  margin-top: 30px;
  margin-left: 40px;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  font-weight: bold;
}

#header {
  margin: 20px;
}
img {
  width: 100%;
  border: 5px solid white;
  margin: 20px;
}
div {
  width: 50%;
  margin-left: 25%;
}
